adf/pipeline/pl_incre_blob_folder.json
{
	"name": "pl_incre_blob_folder",
	"properties": {
		"activities": [
			{
				"name": "Get folder list",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter folder name",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get folder list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get folder list').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(equals(item().name,'cbs'),equals(item().name,'npci'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter folder name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter folder name').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_incre_blob_toalds",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"folder": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "test_project"
		},
		"annotations": [],
		"lastPublishTime": "2026-04-21T08:53:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}